<a href="https://colab.research.google.com/github/sradhass88/Python-Basics-1/blob/main/SRADHA__Python_Basics_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num = int(input("Enter the radius "))
print("Area of Circle is",3.14*num*num)

Enter the radius 3
Area of Circle is 28.259999999999998

In [ ]:
name = input("Enter the name: ")
roll_number = int(input("Enter the roll number: "))
mark = float(input("Enter the mark: "))

print(f"Name: ",name)
print(f"Roll No: ",roll_number)
print(f"Mark: ",mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name:  Anisha
Roll No:  21
Mark:  78.0

In [48]:
def find_largest_number(numbers):
    if not numbers:
        return "List is empty"
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return f"{largest} is the largest number."
numbers = [12,3,47,10]
print(find_largest_number(numbers))

47 is the largest number.

In [47]:
def find_largest_number(numbers):
    if not numbers:
        return "List is empty"

    largest = max(numbers)
    return f"{largest} is the largest number."

numbers = [12,3,47,10]

print(find_largest_number(numbers))

47 is the largest number.

In [59]:
previous_number = None
for current_number in range(0, 11):
   if previous_number is None:
    pass
   else:
    print(f"Current number: {current_number}, Previous number: {previous_number}, Sum: {current_number + previous_number}")
   previous_number = current_number

Current number: 1, Previous number: 0, Sum: 1
Current number: 2, Previous number: 1, Sum: 3
Current number: 3, Previous number: 2, Sum: 5
Current number: 4, Previous number: 3, Sum: 7
Current number: 5, Previous number: 4, Sum: 9
Current number: 6, Previous number: 5, Sum: 11
Current number: 7, Previous number: 6, Sum: 13
Current number: 8, Previous number: 7, Sum: 15
Current number: 9, Previous number: 8, Sum: 17
Current number: 10, Previous number: 9, Sum: 19

In [63]:
def print_divisible_by_5(numbers):
    for num in numbers:
        if num % 5 == 0:
            print(num)
numbers = [10,20,33,46,55 ]
print("Numbers divisible by 5:")
print_divisible_by_5(numbers)

Numbers divisible by 5:
10
20
55

In [65]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)
num_rows = 4
print_pattern(num_rows)

*
**
***
****

In [80]:
n = int(input('Enter the number: '))

if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print(n, 'is not a prime number')
            break
    else:
        print(n, 'is a prime number')
else:
    print(n, 'is not a prime number')

Enter the number: 5
5 is a prime number

In [86]:
original_list = [10,40,30,70]
reversed_list = []
for num in original_list[::-1]:
  reversed_list.append(num)

print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

Original list: [10, 40, 30, 70]
Reversed list: [70, 30, 40, 10]

In [91]:
def find_max(num1, num2, num3):
  if num1>=num2 and num1>=num3:
    return num1
  elif num2>=num1 and num2>=num3:
    return num2
  else:
    return num3
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

max_number = find_max(num1, num2, num3)
print(f"The maximum number is: {max_number}")

Enter the first number: 34
Enter the second number: 2
Enter the third number: 7
The maximum number is: 34

In [8]:
def print_pattern(rows):
    for i in range(1, rows * 2):
        if i <= rows:
            print('*' * i)
        else:
            print('*' * (rows * 2 - i))
num_rows = 5
print_pattern(num_rows)

*
**
***
****
*****
****
***
**
*

In [11]:
#Write a Python program to accept a string value from the user and display
#the count of each character in that string. Sample input: Enter a string
#value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

user_input = input("Enter a string value: ")
char_count = {}

for char in user_input:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

output = []
for char, count in char_count.items():
    output.append(f"{char}={count}")

print(", ".join(output))

Enter a string value: assembly
a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [12]:
def max_of_three(a, b, c):

    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

num1 = 34
num2 = 12
num3 = 7
result = max_of_three(num1, num2, num3)
print(result)

34

In [14]:
def exponent(base, exp):
    return base ** exp

def main():
    # Prompt the user for input
    base = int(input("Enter the base: "))
    exp = int(input("Enter the exponent: "))

    # Calculate the result using the exponent function
    result = exponent(base, exp)

    # Print the result
    print(result)

# Execute the main function
if __name__ == "__main__":
    main()

Enter the base: 2
Enter the exponent: 3
8

In [21]:
def sum_of_cubes(n):
    sum_cubes = 0
    for i in range(1, n):
        sum_cubes += i ** 3
    return sum_cubes

def main():
    number = int(input("Enter a positive integer: "))


    if number <= 0:
        print("Please enter a positive integer.")
    else:
        result = sum_of_cubes(number)
        print(result)

if __name__ == "__main__":
    main()

Enter a positive integer: 4
36

In [22]:
def fizzbuzz():
    for i in range(1, 11):
        if i % 2 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 2 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

fizzbuzz()

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [23]:
def most_frequent_item(numbers):
    frequency = {}

    for number in numbers:
        if number in frequency:
            frequency[number] += 1
        else:
            frequency[number] = 1
    most_frequent = max(frequency, key=frequency.get)
    return most_frequent


numbers = [2, 3, 4, 2, 5, 2]
result = most_frequent_item(numbers)
print(result)

2

In [24]:
def sum_of_squares(numbers):
    total = 0
    for num in numbers:
        total += num ** 2
    return total

numbers = [2, 1, 3, 1]
result = sum_of_squares(numbers)
print(result)

15

In [30]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [33]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

fahrenheit = float(input("Temperature in Fahrenheit: "))

print(f"Temperature in Celsius: {fahrenheit_to_celsius(fahrenheit)}")

Temperature in Fahrenheit: 100
Temperature in Celsius: 37.77777777777778

In [39]:
def factorial(n):
    if n < 0:
        return "its a negative number."
    elif n == 0:
        return 0
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result


print(factorial(3))

6